@page "/"

<PageTitle>Home page</PageTitle>

<section class=" bg-white dark:bg-slate-950">
    @* <div style="z-index: -1" class=" w-[100vw] absolute left-0 max-h-[80vh] overflow-hidden object-contain"> *@
    @*     <img src="/images/running-shoe.jpg" alt="running shoes" class=" object-contain "> *@
    @* </div> *@
    <article class="dark:text-red-600">
        <div>
            <h1 class="text-3xl  sm:text-4xl font-bold text-gray-800 mb-8 sm:mb-20">
                <ApplicationLogo/>
            </h1>
            <p class="text-base dark:text-red-900 sm:text-xl text-gray-600 mb-6">
                A way to track your training progress.
            </p>
            <p class="text-base sm:text-xl text-gray-600 mb-6">
                Training Schedule is a simple application that allows you to track your training progress.
                Schedules provided by the application are based on the <a href="https://www.strongfirst.com/" target="_blank" class="text-blue-500 hover:text-blue-700">StrongFirst</a> methodology.
            </p>
        </div>
        <div>
            <h1 class="text-3xl sm:text-4xl font-bold text-gray-800 mb-8 sm:mb-20">
                <ApplicationLogo/>
            </h1>
            <p class="text-base sm:text-xl text-gray-600 mb-6">
                A way to track your training progress.
            </p>
            <p class="text-base sm:text-xl text-gray-600 mb-6">
                Training Schedule is a simple application that allows you to track your training progress.
                Schedules provided by the application are based on the <a href="https://www.strongfirst.com/" target="_blank" class="text-blue-500 hover:text-blue-700">StrongFirst</a> methodology.
            </p>
        </div>
    </article>
</section>